<!DOCTYPE html>
<html lang="en">
<head>
  <%- content['_includes_']['header'] %>
  <link rel="canonical" href="https://nightwatchjs.org"/>
  <!-- new fonts and style -->

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css">
</head>

<body>
<%- content['_includes_']['navbar'] %>
<section id="index-container" data-page-uri="/" style="display: flex; flex-direction: column;">
  <%- content['_sections_']['index'] %>
</section>
<%- content['_includes_']['footer'] %>
<%- content['_includes_']['scripts'] %>
<!-- slick carousel -->
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</body>
</html>
