<!DOCTYPE html>
<html>
<head>
  <%- content['_includes_']['header'] %>
</head>
<body>
<%- content['_includes_']['navbar'] %>

<section id="apimethod-container" data-page-uri="/api/$method" class="secondary">
  <div class="background">
    <%- apiMethodData %>
  </div>

</section>

</div>
<%- content['_includes_']['footer'] %>
<%- content['_includes_']['scripts'] %>

</body>
</html>
