<!DOCTYPE html>
<html>
<head>
  <%- content['_includes_']['header'] %>
</head>
<body>
<%- content['_includes_']['navbar'] %>
<%- content['_includes_']['parallax'] %>

<section id="apimethod-container" data-page-uri="/api/$method" class="secondary">
  <div class="background">
    <%- apiMethodData %>
  </div>
</section>
<section id="index-container" data-page-uri="/"></section>
<section id="gettingstarted-container" data-page-uri="/gettingstarted" class="secondary"></section>
<section id="guide-container" data-page-uri="/guide" class="secondary"></section>
<section id="api-container" data-page-uri="/api" class="secondary">
  <%- content['_sections_']['api'] %>
</section>
<section id="about-container" data-page-uri="/about" class="secondary"></section>
<section id="releases-container" data-page-uri="/releases" class="secondary"></section>
<%- content['_includes_']['footer'] %>
<%- content['_includes_']['scripts'] %>

</body>
</html>
