<div class="background">
  <div class="container bs-docs-container">
     <div class="row">
       <div class="col-md-3">

         <div class="bs-sidebar hidden-print" role="complementary">
             <%- content['_includes_']['api-sidebar'] %>
         </div>
       </div>

      <div class="col-md-9 api-container" role="main">
        <div class="docs-section assertions-api" data-page-uri="/api">
          <%- content['api']['assertions'] %>

          <div class="assertions">
            <%
            for (var i = 0; i < methods.assertions.length; i++) {
              var method = methods.assertions[i];
            %>
            <div class="apimethod">
              <a name="assert-<%- method.name %>"></a>
              <h3 id="assert-<%- method.name %>">assert[.not].<%- method.name %>()</h3>
              <p><%- method.descr %></p>

              <h5>Parameters:</h5>
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th style="width: 100px;">Name</th>
                    <th style="width: 100px;">Type</th>
                    <th>description</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% for (var j = 0; j < method.parameters.length; j++) {
                      var param = method.parameters[j]; %>
                  <tr>
                    <td><code><%- param.name %></code><% if (param.optional) { %><br><span class="optional">Optional</span><% } %></td>
                    <td><%- param.type %></td>
                    <td><%- param.descr %></td>
                  </tr>
                  <% } %>
                  </tbody>
                </table>
              </div>

              <h5>Usage:</h5>
              <div class="sample-test">
<pre class="line-numbers" data-language="javascript"><code class="language-javascript">this.demoTest = function (browser) {
  <%- method.usage %>
};</code></pre>
              </div>
            </div> <!-- end .apimethod -->
            <% } %>
          </div>
          <!-- ============================================================
          // END Assertions
          ============================================================ -->
        </div>

        <div class="docs-section" data-page-uri="/api/expect">
          <%- content['api']['expect'] %>

          <div class="commands">
            <%- content['api']['expect-api']['cookie'] %>
            <%- content['api']['expect-api']['element'] %>

            <%
            for (var methodName in api['expect.element']) {
              var method = api['expect.element'][methodName];
            %>
            <div class="apimethod">
              <h3 id="expect-<%- method.name %>"><%- method.display %><a title="Suggest edits" class="edit-source" href="<%- method.editLink %>">Suggest edits</a></h3>
              <p><%- method.descr %></p>
              <% if (method.params.length) { %>
                <h5>Parameters:</h5>
                <div class="table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th style="width: 100px;">Name</th>
                      <th style="width: 100px;">Type</th>
                      <th>description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <%
                    for (var j = 0; j < method.params.length; j++) {
                      var param = method.params[j];
                    %>
                    <tr>
                      <td><code><%- param.name %></code><% if (param.optional) { %><br><span class="optional">Optional</span><% } %></td>
                      <td><%- param.types %></td>
                      <td><%- param.descr %></td>
                    </tr>
                    <% } %>
                    </tbody>
                  </table>
                </div>
              <% } %>
              <% if (method.example) { %>
                <h5>Usage:</h5>
                <div class="sample-test">
                  <pre class="line-numbers" data-language="javascript"><code class="language-javascript"><%- method.example %></code></pre>
                </div>
              <% } %>
            </div>  <!-- end .apimethod -->
            <% } %>

            <%- content['api']['expect-api']['elements'] %>
            <%- content['api']['expect-api']['title'] %>
            <%- content['api']['expect-api']['url'] %>
          </div>
        </div>

        <div class="docs-section" data-page-uri="/api/pageobject">
          <%- content['api']['page'] %>
        </div>

        <div class="docs-section commands" data-page-uri="/api/commands">
          <div class="content" style="margin-top: 0">
          <%- content['api']['commands'] %>
          </div>
<%
      var sectionsData = {
        'protocol.elements' : [
          'findelements', 'Finding Elements', [
            'The commands listed below allow lookup of individual elements and collections of elements. Element retrieval searches are performed using a provided selector specified usually as a CSS selector or, less often, as an Xpath selector.',
            'More info on <a rel="noreferrer" href="https://w3c.github.io/webdriver/#locator-strategies" target="_blank">locator strategies</a> can be found on the WebDriver page.',
            'Each element has an internal associated <a href="https://www.w3.org/TR/webdriver1/#dfn-web-elements" target="_blank">Web Element</a> reference (a UUID) that uniquely identifies the element across all browsing contexts.'
          ]
        ],
        'protocol.waitforelements': [],
        'protocol.elementinteraction' : [
          'elementinteraction-headline',
          'Element Interaction',
          [
            'The element interaction commands provide a high-level instruction set for manipulating form controls. Unlike actions, they will implicitly scroll elements into view and check that it is an interactable element.',
            'Details on how WebDriver checks if the element can be interacted with are available on the WebDriver <a href="https://w3c.github.io/webdriver/#interactability" target="_blank" rel="noreferrer">Element interactability</a> page.'
          ]
        ],

        'protocol.elementstate' : [
          'elementstate-headline',
          'Element State',
          'Details on how WebDriver checks if the element is displayed are available on the WebDriver <a href="https://w3c.github.io/webdriver/#element-displayedness" target="_blank" rel="noreferrer">Element Displayedness</a> page.'
        ],

        'protocol.elementlocation' : [
          'elementlocation-headline', 'Element Location'
        ],
        'protocol.elementinternal' : [
          'elementinternal-headline', 'Protocol Element Commands',
          [
            'The commands in this section operate on a low-level HTTP protocol level and are only accepting <a href="https://www.w3.org/TR/webdriver1/#dfn-web-elements" rel="noreferrer" target="_blank">Web Element IDs</a> as parameters. ' +
            'These commands are usually only useful in more complex scenarios, such as building custom commands or custom assertions.',
            'To retrieve the Web Element ID use either the <code><a href="/api/element.html">.element()</a></code> or the <code><a href="/api/elements.html">.elements()</a></code> commands.'
          ]
        ],

        'protocol.document' : ['document-headline', 'Document Handling'],
        'protocol.sessions' : [
          'sessions-headline',
          'Sessions',
          'A WebDriver session represents the connection between a client and a remote WebDriver server. Read more on <a href="https://www.w3.org/TR/webdriver/#sessions" target="_blank" rel="noreferrer">WebDriver page</a>.'
        ],

        'protocol.navigation' : [
          'navigation-headline', 'Navigation',
          'The commands in this section allow navigation to new URLs and introspection of the currently loaded url.'
        ],

        'protocol.contexts' : ['contexts-headline', 'Window Related'],
        'protocol.window' : ['window-protocol-headline', 'Protocol Window Commands'],
        'protocol.frames' : ['frames-headline', 'Working with Frames'],
        'protocol.cookies' : ['cookies-headline', 'Working with Cookies'],
        'protocol.useractions' : ['useractions-headline', 'User Actions'],
        'protocol.userprompts' : ['userprompts-headline', 'User Prompts'],
        'protocol.screens' : ['screens-headline', 'Screen Capture'],
        'protocol.mobile' : ['mobile-headline', 'Mobile Related'],
        'protocol.utilities': ['utilities-headline', 'Utilities / Debugging'],
        'protocol' : ''
      };
%>

        </div>
      </div>
    </div>
  </div>
</div>
