<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Getting Started</h1>
      </div>
      <div class="col-md-4">
        <div class="container-carbon"></div>
      </div>
    </div>
  </div>
</div>

<div class="background">
  <div class="container bs-docs-container">
    <div class="row">
      <div class="col-md-3">
        <div class="bs-sidebar hidden-print" role="complementary">
          <ul class="nav bs-sidenav">
            <li>
              <a class="nav-link" href="/gettingstarted/">Overview</a>
              <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="#what-is-nightwatch-">What is Nightwatch?</a></li>
                <li class="nav-item"><a class="nav-link" href="#overview-of-webdriver">Overview of WebDriver</a></li>
                <li class="nav-item"><a class="nav-link" href="#theory-of-operation">Theory of Operation</a></li>
                <li class="nav-item"><a class="nav-link" href="#nightwatch-selenium-server">Nightwatch &amp;amp; Selenium Server</a></li>
              </ul>
            </li>

            <li>
              <a href="/gettingstarted/installation/">Installation</a>
              <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="#install-node-js">Install Node.js</a></li>
                <li class="nav-item"><a class="nav-link" href="#install-nightwatch">Install Nightwatch</a></li>
                <li class="nav-item"><a class="nav-link" href="#install-webdriver">Install WebDriver</a></li>
              </ul>
            </li>

            <li>
              <a href="/gettingstarted/configuration/">Configuration</a>
              <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="#nightwatch-json">nightwatch.json</a></li>
                <li class="nav-item"><a class="nav-link" href="#base-settings">Base Settings</a></li>
                <li class="nav-item"><a class="nav-link" href="#extended-settings">Extended Settings</a></li>
                <li class="nav-item"><a class="nav-link" href="#webdriver-settings">WebDriver Settings</a></li>
                <li class="nav-item"><a class="nav-link" href="#selenium-server-settings">Selenium Settings</a></li>
              </ul>
            </li>

            <li>
              <a href="/gettingstarted/concepts/">Concepts</a>
              <ul class="nav">
                <li><a href="#defining-test-environments">Test Environments</a></li>
                <li><a href="#using-test-globals">Globals</a></li>
              </ul>
            </li>

            <li>
              <a href="/gettingstarted/browser-drivers-setup/">Browser Drivers Setup</a>
              <ul class="nav">
                <li><a href="#geckodriver">GeckoDriver (Firefox)</a></li>
                <li><a href="#chromedriver">ChromeDriver</a></li>
                <li><a href="#microsoft-webdriver">Microsoft WebDriver</a></li>
              </ul>
              <div class="migrating-guide"><a target="_blank" rel="noreferrer" href="https://github.com/nightwatchjs/nightwatch/wiki/Migrating-to-Nightwatch-1.0">Migrating from v0.9?</a></div>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-9" role="main">
        <div class="docs-section" data-page-uri="/gettingstarted/">
          <%- content['gettingstarted']['overview']['overview'] %>
        </div>

        <div class="docs-section" data-page-uri="/gettingstarted/installation/">
          <%- content['gettingstarted']['installation']['install'] %>
          <div class="alert alert-info twitter-box">
            <p>Follow <strong>@nightwatchjs</strong> on Twitter to get the latest release updates, tutorials, and find out what we're working on.</p>
            <div class="twitter-follow"><a href="https://twitter.com/nightwatchjs" class="twitter-follow-button" data-size="large" data-lang="en" data-dnt="true" data-show-count="true">Follow @nightwatchjs</a></div>
          </div>
        </div>

        <div class="docs-section" data-page-uri="/gettingstarted/concepts/">
          <%- content['gettingstarted']['concepts']['test_environments'] %>
          <%- content['gettingstarted']['concepts']['globals'] %>
          <div class="alert alert-info twitter-box">
            <p>Follow <strong>@nightwatchjs</strong> on Twitter to get the latest release updates, tutorials, and find out what we're working on.</p>
            <div class="twitter-follow"><a href="https://twitter.com/nightwatchjs" class="twitter-follow-button" data-size="large" data-lang="en" data-dnt="true" data-show-count="true">Follow @nightwatchjs</a></div>
          </div>
        </div>

        <div class="docs-section" data-page-uri="/gettingstarted/browser-drivers-setup/">
          <div class="page-header">
            <h2 id="browser-drivers-setup">Browser Drivers Setup</h2>
          </div>
          <br>
          <%- content['gettingstarted']['browser-setup']['browser-setup'] %>
          <%- content['gettingstarted']['browser-setup']['gecko-driver'] %>
          <%- content['gettingstarted']['browser-setup']['chromedriver'] %>
          <%- content['gettingstarted']['browser-setup']['edgedriver'] %>
          <div class="alert alert-info twitter-box">
            <p>Follow <strong>@nightwatchjs</strong> on Twitter to get the latest release updates, tutorials, and find out what we're working on.</p>
            <div class="twitter-follow"><a href="https://twitter.com/nightwatchjs" class="twitter-follow-button" data-size="large" data-lang="en" data-dnt="true" data-show-count="true">Follow @nightwatchjs</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
