<div class="jumbotron">
  <div class="container" style="height:130px">
    <div class="row">
      <div class="col-md-8">
        <h1>Developer Guide</h1>
      </div>
      <div class="col-md-4">
        <div class="carbonad"></div>
      </div>
    </div>
  </div>
</div>

<div class="background">
  <div class="container bs-docs-container">
    <div class="row">
      <div class="col-md-3">
        <div class="bs-sidebar hidden-print" role="complementary" data-spy="affix" data-offset-top="60" data-offset-bottom="100">
          <ul class="nav bs-sidenav">

            <li>
              <a href="#using-nightwatch">Using Nightwatch</a>
              <ul class="nav">
                <li><a href="#writing-tests">Writing Tests</a></li>
                <li><a href="#using-es6-async-await-beta-">Using ES6 Async/Await</a></li>
                <li><a href="#using-xpath-selectors">Using Xpath</a></li>
                <li><a href="#expect-assertions">BDD Expect Assertions</a></li>
                <li><a href="#using-before-each-and-after-each-hooks">Test Hooks</a></li>
                <li><a href="#asynchronous-before-each-and-after-each-">Asynchronous Test Hooks</a></li>
                <li><a href="#external-globals">External Globals</a></li>
              </ul>
            </li>

            <li>
              <a href="#running-tests">Running Tests</a>
              <ul class="nav">
                <li><a href="#nightwatch-runner">Nightwatch Runner</a></li>
                <li><a href="#command-line-options">Command-line Options</a></li>
                <li><a href="#test-environments">Test Environments</a></li>
                <li><a href="#test-groups">Test Groups</a></li>
                <li><a href="#test-tags">Test Tags</a></li>
                <li><a href="#disabling-tests">Disabling Tests</a></li>
                <li><a href="#parallel-running">Parallel Running</a></li>
                <li><a href="#using-mocha">Using Mocha</a></li>
                <li><a href="#programmatic-api">Programmatic API</a></li>
              </ul>
            </li>

            <li>
              <a href="#extending-nightwatch">Extending Nightwatch</a>
              <ul class="nav">
                <li><a href="#writing-custom-commands">Custom commands</a></li>
                <li><a href="#writing-custom-assertions">Custom assertions</a></li>
                <li><a href="#custom-reporter">Custom reporter</a></li>
              </ul>
            </li>

            <li>
              <a href="#working-with-page-objects">Working with Page Objects</a>
              <ul class="nav">
                <li><a href="#using-page-objects">Using Page Objects</a></li>
                <li><a href="#defining-elements">Defining Elements</a></li>
                <li><a href="#element-properties">Element Properties</a></li>
                <li><a href="#defining-sections">Defining Sections</a></li>
                <li><a href="#writing-commands">Writing Commands</a></li>
              </ul>
            </li>

            <li>
              <a href="#unit-testing-with-nightwatch">Unit Testing</a>
              <ul class="nav">
                <li><a href="#writing-unit-tests">Writing Unit Tests</a></li>
                <li><a href="#asynchronous-unit-tests">Asynchronous Tests</a></li>
                <li><a href="#using-a-combined-configuration">Using a Combined Configuration</a></li>
                <li><a href="#code-coverage">Code Coverage</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-9" role="main">
        <div class="docs-section">
          <%- content['using-nightwatch'] %>
          <%- content['test-hooks'] %>
          <%- content['async-setup-teardown'] %>
          <%- content['globals-setup-teardown'] %>
          <%- content['external-globals'] %>
        </div>

        <div class="docs-section">
          <%- content['running-tests'] %>
          <%- content['runner-options'] %>
          <%- content['test-environments'] %>
          <%- content['test-groups'] %>
          <%- content['test-tags'] %>
          <%- content['disabling-tests'] %>
          <%- content['run-parallel'] %>
          <%- content['using-mocha'] %>
          <%- content['programmatic-api'] %>
        </div>

        <div class="docs-section">
          <%- content['custom-commands'] %>
          <%- content['custom-assertions'] %>
          <%- content['custom-reporter'] %>

        </div>

        <div class="docs-section">
          <%- content['using-page-objects'] %>
          <%- content['po-elements'] %>
          <%- content['po-sections'] %>
          <%- content['po-mixins'] %>
        </div>

        <div class="docs-section">
          <%- content['writing-unit-tests'] %>
        </div>
      </div>
    </div>
  </div>
</div>
